<img
  [src]="gif.images.downsized_large.url"
  [alt]="gif.title"
  class="h-auto max-w-full rounded mx-auto mt-5"
/>

<ul class="flex flex-col gap-2 max-w-[480px] mx-auto my-12">
  <li *ngIf="gif.user">
    <details class="group">
      <summary
        class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer"
      >
        <span class="flex gap-2">
          <img class="w-6 h-6 rounded-lg" [src]="gif.user.avatar_url" alt="" />

          <span>GIF by {{ gif.user.display_name }}</span>
        </span>
      </summary>
    </details>
  </li>

  <li>
    <details class="group">
      <summary
        class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer"
      >
        <span class="flex gap-2">
          <span class="material-symbols-outlined"> info </span>

          <span>GIF Details</span>
        </span>
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </summary>

      <article class="px-4 pb-4">
        <ul class="flex flex-col gap-1 pl-6">
          <li>
            <p>Title</p>
            <p class="font-light">{{ gif.title }}</p>
          </li>
          <li>
            <p>Tags</p>
            <p class="font-light">{{ gif.slug }}</p>
          </li>
        </ul>
      </article>
    </details>
  </li>

  <li>
    <details class="group">
      <summary
        class="flex items-center justify-between gap-2 p-2 font-medium marker:content-none hover:cursor-pointer"
      >
        <span class="flex gap-2">
          <span class="material-symbols-outlined"> analytics </span>
          <span>GIF Data</span>
        </span>
        <svg
          class="w-5 h-5 text-gray-500 transition group-open:rotate-90"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>
      </summary>

      <article class="px-4 pb-4">
        <ul class="flex flex-col gap-1 pl-6">
          <li>
            <p>Created on</p>
            <p class="font-light">
              {{ gif.import_datetime | date : "d MMM yyyy" }}
            </p>
          </li>
          <li>
            <p>Began trending on</p>
            <p class="font-light">
              {{ gif.trending_datetime | date : "d MMM yyyy" }}
            </p>
          </li>
        </ul>
      </article>
    </details>
  </li>
</ul>
