.logo-container {
  width: auto;
  height: 300px;
  background-image: url("../../../../assets/images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
